{
  "overrides": [
    {
      "files": "*.gml",
      "options": {
        "parser": "typescript",
        "semi": true,
        "printWidth": 120,
        "trailingComma": "none"
      }
    }
  ]
}
