{
  "plugins": ["prettier-plugin-gml"],
  "overrides": [
    {
      "files": "*.gml",
      "options": {
        "parser": "gml-parse",
        "semi": true,
        "printWidth": 100,
        "trailingComma": "none"
      }
    }
  ]
}
